* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* fdf0d5 */
#particles-js {
  width: 100%;
  height: 100vh;
  background-color: #fdf0d5;
  position: relative;
}

.lines {
  margin: 1rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  border: 3px solid black;
  box-shadow: 5px 5px;
  background-color: #fdf0d5;
}

.line {
  background-color: black;
  width: 2rem;
  height: 5px;
  border-radius: 50px;
  margin-bottom: 3px;
}

.settingDetail {
  margin: 1.5rem 1rem;
  padding: 0.5rem;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 5px 5px;
  text-align: center;
}

.content {
  width: 50px;
  height: 50px;
  padding: 5rem;
  border: 20px solid #c0d6e8;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-53%, -53%);
}

.content img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.contentDetail {
  width: 250px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 225px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bolder;
}

.hidden {
  display: none;
}
